In [3]:
print ('hello')

hello

In [10]:
x=3
y=3
z=x**y
print(z)

27

In [12]:
x = 4
type(x)

int

In [14]:
x= "4"
type(x)

str

In [17]:
x=1.1111111111111111111111111111111111111111111111
type(x)

float

In [21]:
print(9//4)
print(9%4)

2
1

In [32]:
print((5 + 2) * (12 / 4))
print(11 / 3)
print(11 // 3)
print(2 ** 5)

21.0
3.6666666666666665
3
32

In [37]:
bin(12)

'0b1100'

In [39]:
bin(4)

'0b100'

In [41]:
bin(12 or 4)

'0b1100'

In [49]:
a = 2 
a += 2
print (a)
b = 5
print(a * b)
c = 10 
print(c ** b)

4
20
100000

In [94]:
a = 13
b = a % 2
if b == 0: 
    print ("odd")
else:
    print ("even")

even

In [73]:
72 % 2 ==1

False

In [83]:
50 <= 63 <= 100

True

In [85]:
x = 6
x >=1 and x <= 7

True

In [87]:
x = 6
x >=1 or x <= 5

True

In [95]:
not x <1 
print (x)

6

In [109]:
a = [4,5,6]
b = [4,5,6]
print(a==b)
print(a is b) 
print(a is not b)
print(5 is 5)
print (4 in a)
print(not 5 in a )

True
False
True
True
True
False

In [143]:
print(2 & 1)

0

In [200]:
x=9
y=10
print (x&y)
print(x and y)
print (x|y)
print (x^y)

8
10
11
3

In [157]:
x =1 
y=1.5
print (type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [161]:
7/3

2.3333333333333335

In [163]:
7//3

2

In [166]:
0.000007 == 7e-6

True

In [174]:
x= 25
print (float(x))

25.0

In [177]:
c=4+5j
print(c)

(4+5j)

In [191]:
print (c.real)
print(c.imag)
print(c.conjugate())
print(abs(c))

4.0
5.0
(4-5j)
6.4031242374328485

In [206]:
text="hello"
len(text)

5

In [207]:
str.upper(text)

'HELLO'

In [208]:
str.capitalize(text)

'Hello'

In [214]:
text02="google"
text+" "+text02

'hello google'

In [211]:
text*5

'hellohellohellohellohello'

In [220]:
print(text[0])
print(text[2])

h
l

In [234]:
type(None)

NoneType

In [235]:
x=(4<5)
type(x)

bool

In [236]:
value = print('abc')

abc

In [237]:

print(value)

None